.app {
    min-height: 100vh;
    padding: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.menu {
    padding: 0 40px;
    margin-top: 40px;
    width: 100%;
    max-width: 1600px; /* можно сделать побольше */
    box-sizing: border-box;
}
